<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MMeiTuan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0FF3D6951BE33AB900B101BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF3D6B11BE33AB900B101BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF3D6BC1BE33AB900B101BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
